
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applayFilter($event.target)">
    <mat-icon matSuffix>filter_alt</mat-icon>
  </mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> key </th>
      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator showFirstLastButtons     [length]="count"
                [pageSize]="7"            [pageSizeOptions]="[7, 10, 15, 20, 100]"
                aria-label="Select page"  layout-align="center"
  >
  </mat-paginator>
</div>
